# Object files
*.o
*.ko
*.obj
*.elf

libs_linux.tar.gz
libs_*.*
lib
lib32
lib64

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

innfin

*~

build
.sconstruct.dblite
.sconsign.dblite

.idea
.msvc/Debug
/msvc/.vs/Innfin/v14
/msvc/Innfin-msvc.VC.db
/msvc/Innfin.VC.db
/msvc/Innfin.VC.VC.opendb
/msvc/Debug


release
Release
cmake-build-debug/
/msvc/.vs/Innfin/v15
/msvc/.vs/Innfin/v15/Browse.VC.opendb
/msvc/.vs/Innfin/v15/Browse.VC.db
/msvc/.vs/Innfin/v15/.suo

tags
assets/Dungeon Crawl Stone Soup Full
assets/Dungeon Crawl Stone Soup Full.zip
assets/BombExploding.png
assets/dg_uniques32.gif
assets/DungeonCrawl_ProjectUtumnoTileset.png
assets/hyptosis_sprites-and-tiles-for-you.png
assets/hyptosis_til-art-batch-2.png
assets/hyptosis_tile-art-batch-1.png
assets/hyptosis_tile-art-batch-3_1.png
assets/hyptosis_tile-art-batch-4.png
assets/hyptosis_tile-art-batch-5.png
