# Object files
*.o
*.ko
*.obj
*.elf

libs_linux.tar.gz
libs_*.*
lib
lib32
lib64

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

innfin

*~

build
.sconstruct.dblite
.sconsign.dblite

.idea
.msvc/Debug
/msvc/.vs/Innfin/v14
/msvc/Innfin-msvc.VC.db
/msvc/Innfin.VC.db
/msvc/Innfin.VC.VC.opendb
/msvc/Debug


release
Release
cmake-build-debug/
/msvc/.vs/Innfin/v15
/msvc/.vs/Innfin/v15/Browse.VC.opendb
/msvc/.vs/Innfin/v15/Browse.VC.db
/msvc/.vs/Innfin/v15/.suo

tags
